.popup-form__input-group {
  width: 358px;
  border: 0;
  margin: 0;
  padding: 0 0 18px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .popup-form__input-group {
    width: 238px;
    padding: 0 0 45px;
  }
}
